---
---

@import "{{ site.theme }}";

@media (max-width: 768px) {
  section {
    padding: 1em;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.language {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.language li {
  margin: 0 0.5em;
}

section {
  background-color: #1e1e1e;
  color: darkgrey;
  padding: 2em;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  overflow-wrap: break-word;
}

footer {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #2e8b57;
}

a {
  color: #2e8b57;
}

a:hover {
  color: #2e8b57;
}

p {
  color: darkgrey;
}
